*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.claer{
    clear: both;
    float: inherit;
    position: inherit;
}
.wrap{
    width: 1200px;
    position: relative;
}
a{
    color: inherit;
    text-decoration-line: none;
}
.text{
    color: rgb(63, 63, 63);
}
header{
    position:relative;
    width: all;
    height: 65px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}
.logo_box{
    margin-top: 3px;
    width: 180px;
    height: inherit;
    overflow: hidden;
}
.logo_box img{
    width: auto;
    height: 55px;

}
.login_box{
    position: absolute;
    right: 30px;
    width:100px;
    height:inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.login_box img{
    margin-top: 17px;
    width: auto;
    height: 30px;
}

/* 바디시작 콘텐츠 시작* widht 1700 */
.content{
    display: flex;
    justify-content: center;
}
.user_box,.company_box,.job_box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 640px;
    position: relative;
}
.left{
    width:50%;
    position: relative;
}
.user_box .left .slide{
    /* 폰 사진 이미지 슬라이드 */
margin-left: 0px; 
width: 340px;
height: 640px;
border-radius: 40px;
background-color: lawngreen;
display: flex;
justify-content: left;
overflow: hidden;
box-shadow: 10px, 10px,10px,10px;
}
.slide>li{
    animation: leftSlide 10s ease infinite;
    transition: 1.5s;
}
@keyframes leftSlide{

    0%,30%{
        transform: translateX(0);
    }
    45%,60%{
        transform: translateX(-100%);
    }
    70%,100%{
        transform: translateX(-200%);
    }
}
.right{
    width: 50%;
    position: relative;
}
.user_box h1,.company_box h1,.job_box h1{
    margin-top: 30px;
    font-size: 40pt;
}
.user_box h2{
    margin-top: 70px;
    font-size:14pt;
    font-weight: lighter;
}
.user_box .right .slide{
    margin-top: 60px;
    width: 600px;
    height: 300px;
}
.user_box .slide .main{
    width: 600px;
    height: 180px;
}
.user_box .slide .main li{
    margin-top: 10px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: inherit;
}
.user_box .slide .sub{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.user_box .slide .sub li{
    position: relative;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index:2;
    color: rgb(177, 177, 177);
    transition: all 0.8s;
}
.btn{
    position: absolute;
    width:95px;
    height: 50px;
    background-color: #197170;
    z-index:1;
    top: 5px;
    border-radius: 20px;
    transition: ALL 1.0S;
    margin-left: 13px;
}

.company_box{
    margin-top: 200px;
}
.job_box{
    height: 700px;
}

.job_box .left img{
    opacity: 0;
    top: 700px;
    position: absolute;
    transition: all 2s;
}
.categore{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    justify-content:left;
    position: relative;
    left:  0;
}
.under_var{
    width: 50px;
    height: 4px;
    background-color: coral;
    position: absolute;
    bottom: -10px;
    left: 94px;
    transition: all 0.6s;
    /* border-radius: 20%px; */
}
.categore li{
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}
.company_box .tab{
    margin-top: 60px;
    margin-left: 50px;
    width: 500px;
    overflow: hidden;

}
.company_box .tab li{
    position: absolute;
    /* left: 600px; */
    width: all;
    height: all;
    transition: all 1s;
    opacity: 0;
}


footer{
    margin-top: 500px;
    width: all;
    height: 240px;
    background-color: rgb(63, 63, 63);
    bottom: 0px;
}