<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/detail.css">
    <title>구직자</title>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="logo_box">

                <div class="logo">
                    <a href="#"><img src="../public/imgs/logo_fff.png"></a>
                </div>
                <div class="ham"><a href="#"><img src="../public/imgs/icon/pngwing.com (2).png"></a></div>
            </div>
            
            <nav>
                <ul class="menu">
                    <li class="active"><a href="#">전체보기</a></li>
                    <li><a href="#">견적</a></li>
                    <li><a href="#">구직</a></li>
                    <li><a href="#">알림</a></li>
                    <li><a href="#">리뷰</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">회원정보수정</a></li>
                    
                    
                </ul>
            </nav>
        </header>
        <div class="contents">
            <div class="c_header">
                <div class="searchBox">
                    <input type="text" placeholder="Search here.." name="" class="search bar">
                </div>
                <div class="icons">
                    <div class="icons_icon">
                        <a href="#"><img src="../public/imgs/icon/종.png"></a>
                    </div>
                    <div class="user_icon">
                        <div class="user_img"></div>
                    </div>
                    <div class="icons_icon">
                        <a href="#"><img src="../public/imgs/icon/down_arrow.png"></a>
                    </div>
                </div>
               
            </div>

            <div class="c_box">

                <!-- 리뷰 라인 -->
                <div class="user_order_box">

                    <div class="user_order">
                        <div class="order_list">
                            <div class="line_1">
                                <div class="face_img">

                                </div>
                                <div class="user_id">
                                    <h1>[user id]</h1>
                                    <p>위치정보</p>
                                </div>

                                <div class="option">
                                    <div class="option_left">
                                        <h4>[건물유형]</h4>
                                        <h4>[시공일]</h4>
                                        <h4>[문의 분야]</h4>
                                        <h4>[견적 금액]</h4>
                                        <h4>[요청사항]</h4>
                                    </div>
                                    <div class="option_right">
                                        <h4>아파트</h4>
                                        <h4>2020-20-20</h4>
                                        <h4>도배</h4>
                                        <h4>120,000원</h4>
                                        <h4>거실 도배 문의</h4>
                                    </div>
                                                                   
                                </div>
                                <button class="order_btn">요청 승인</button> 

                            </div>
                            <div class="line_2"></div>
                            <div class="line_3"></div>
                        </div>
                        
                    </div>
                    
                </div>



                <ul class="company_info">
                    <div class="title">
                        <h2>구직글 LIST > </h2>
                        <div class="job_sort">
                            <p><a href="#">전체보기&nbsp;&nbsp;</a></p>
                            <p><a href="#">도배&nbsp;&nbsp;</a></p>
                            <p><a href="#">설비&nbsp;&nbsp;</a></p>
                            <p><a href="#">전기&nbsp;&nbsp;</a></p>
                            <p><a href="#">청소&nbsp;&nbsp;</a></p>
                            <p><a href="#">타일&nbsp;&nbsp;</a></p>
                        </div>
                    </div>
                    
                    <li>
                        <div class="list_box">
                            <div class="list_img_box">
                                <div class="list_img">
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="list_text_box">
                                <h3>[구직자 이름]</h3>
                            </div>
                            <div class="list_text">
                                <p>[나이] / [경력] / [일당]</p>
                            </div>
                            
                                
                            <div class="voting_icon">
                                <img src = "../public/imgs/icon/voting icon.png">
                            </div>
                            <div class="grade">
                                <h1>0.0</h1>
                            </div>
                            <button class="view btn">View</button>
                        </div>
                    </li>

                </ul>
            </div>

            
        </div>
    </div>
    
</body>
</html>