<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>구직자</title>
</head>
<body>
    <!-- 업체 리뷰 팝업 -->
    <div class="background" id="review_detail_pop">

        <div class="review_pop_box">

            <h1 class="close">X</h1>
        
            <div class="review_contents_box">

                <div class="review_photo_box">

                    <ul class="review_b4_after">
                        <li><a href="#"><img src="../public/imgs/user_review_img/1.PNG"></a></li>
                        <li><a href="#"><img src="../public/imgs/user_review_img/2.PNG"></a></li>
                    </ul>
                </div>
                <div class="review_user_text">

                    <div class="review_user_info">
                        <div class="user_profile">

                        </div>
                        <div class="user_profile_info">
                            <h2>USERID</h2>
                            <h4>City</h4>
                        </div>
                    </div>

                    <div class="review_text">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam <br>
                            reprehenderit error libero asperiores ab omnis nihil aliquid <br>
                            voluptates autem! Doloribus voluptatum sunt excepturi suscipit <br>
                            assumenda culpa magnam, recusandae expedita architecto.
                        </p>
                    </div>

                    <div class="review_ect">
                        <h2 class="review_date">2020-20-20</h2>
                        <h1 class="pop_review_grade">0.0</h1>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

    <!-- 업체 정보 뷰 팝업 -->

    <div class="background" id="company_info_pop">

        <div class="company_info_pop_box">

            <h1 class="company_pop_close">X</h1>
        
            <div class="company_info_contents_box">

                <!-- 회사 이미지/회사정보 -->
                <div class="company_info_wrap">
                    <div class="c_company_img">
                        <img src="../public/imgs/designer/O_200611D_2025_E02-960x1280.jpg">
                    </div>
                    <div class="c_company_info">
                        <div class="c_company_info_title">
                            <h2>[company_title]</h2>
                            <p>total</p><h1>0.0</h1>
                        </div>
                        <div class="c_company_info_text">
                            <h4>[위치 정보]</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores sapiente amet aspernatur minus recusandae fugiat architecto voluptatibus expedita hic dolor, similique quo labore dolore, dicta accusamus id quia eveniet ab.</p>
                        </div>
                    </div>
                </div>

                <!-- 업체 모든 리뷰 -->
                <div class="c_info_review_all">

                </div>
                    
                </div>

            </div>
        </div>

    </div>

    <div class="wrap">
        <header>
            <div class="logo_box">

                <div class="logo">
                    <a href="#"><img src="../public/imgs/logo_fff.png"></a>
                </div>
                <!-- <div class="ham"><a href="#"><img src="../public/imgs/icon/pngwing.com (2).png"></a></div> -->
            </div>
            <!-- <input type="checkbox" id="menu_icon">
            <label for="menu_icon">&nbsp</label> -->
            <div class="slide_menu">
                <nav>
                    <ul class="menu">
                        <li class="active"><a href="#">전체보기</a></li>
                        <li><a href="#">견적</a></li>
                        <li><a href="#">업체정보</a></li>
                        <li><a href="#">알림</a></li>
                        <li><a href="#">리뷰</a></li>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">회원정보수정</a></li>
                        
                        
                    </ul>
                </nav>
                
            </div>
        </header>
        <div class="contents">
            <div class="c_header">
                <div class="searchBox">
                    <input type="text" placeholder="Search here.." name="" class="search bar">
                    
                </div>
                <div class="icons">
                    <div class="icons_icon">
                        <a href="#"><img src="../public/imgs/icon/종.png"></a>
                    </div>
                    <div class="user_icon">
                        <div class="user_img"></div>
                    </div>
                    <div class="icons_icon">
                        <a href="#"><img src="../public/imgs/icon/down_arrow.png"></a>
                    </div>
                </div>
               
            </div>

            <div class="c_box">
                <!-- <div class="con">
                    <h1>업체 후기</h1>

                </div> -->
                <div class="company_review">

                    <div class="glide ">
                        <div class="glide__track" data-glide-el="track">
                          <ul class="glide__slides bill">
                            

                            
                            <li class="glide__slide">
                                <div class="company_box">
                                    <img src="../public/imgs/designer/list4.PNG">
                                </div>

                                <div class="after">
                                    <button class="company_view_btn">자세히</button>
                                </div>
    
                                <div class="bill_box">
                                    <div class="bill_text">
                                        <p>category</p>
                                        <p>user id</p>
                                        <p>price</p>
    
                                    </div>
                                    <div class="review_grade">
                                        <div class="review_img">
                                        <h2>After IMG</h2>
                                        </div>
                                        <h1>0.0</h1>
                                     </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="company_box">
                                    <img src="../public/imgs/designer/list4.PNG">
                                </div>

                                <div class="after">
                                    <button class="company_view_btn">자세히</button>
                                </div>
    
                                <div class="bill_box">
                                    <div class="bill_text">
                                        <p>category</p>
                                        <p>user id</p>
                                        <p>price</p>
    
                                    </div>
                                    <div class="review_grade">
                                        <div class="review_img">
                                        <h2>After IMG</h2>
                                        </div>
                                        <h1>0.0</h1>
                                     </div>
                                </div>
                            </li>
 

                          </ul>
                        </div>
                            <div class="glide__arrows" data-glide-el="controls">
                              <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fa fa-angle-left"></i></button>
                              <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fa fa-angle-right"></i></button>
                            </div>
                          
                    </div>
                </div>
                <ul class="company_info">
                    <div class="title">
                        <h2>HOUZZ 업체 정보 > </h2>
                        <div class="sort">
                            <p><a href="#">거리순&nbsp;&nbsp;</a></p>
                            <p><a href="#">평점순&nbsp;&nbsp;</a></p>
                            <p><a href="#">인기순</a></p>
                        </div>
                    </div>
                    
                    <li>
                        <div class="list_box">
                            <div class="list_img_box">
                                <div class="list_img">
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="list_text_box">
                                <h3>[업체명]</h3>
                            </div>
                            <div class="list_text">
                                <p>[TEXT]</p>
                            </div>
                            
                                
                            <div class="voting_icon">
                                <img src = "../public/imgs/icon/voting icon.png">
                            </div>
                            <div class="grade">
                                <h1>4.9</h1>
                            </div>
                            <button class="view btn">View</button>
                        </div>
                    </li>

                </ul>
            </div>

            


         

            
        </div>
    </div>
    <script src="../public/js/user.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    
    
    <script>
        new Glide('.glide', {
                    type: 'carousel',
                    startAt: 1,
                    perView: 3,
                    focusAt: 'center',
                    }).mount()
    </script>
</body>
</html>