<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../controller/route.php?signup_form=0" method="post">
        <input type="text" id="id" class="id" name="id" placeholder="아이디">
        <input type="pw" id="pw" class="pw" name="pw" placeholder="비밀번호">
        <input type="submit">
    </form>
</body>
</html>