<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>houzz</title>
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/signup.css">
</head>
<body>
    <header>
        <div class="logo_box">
            <a href="../controller/route.php?main">
                <img src="../public/imgs/logo.png" alt="logo">
            
            </a>
        </div>
        <div class="login_box">
            <h4><a href="">SIGN UP</a></h4>
            <a href="../controller/route.php?login">
                <img src="../public/imgs/user.png" alt="user">
            </a>
        </div>
    </header>

    <div class="content">
        <div class="signup_box">
            <div class="left">
                <div class="consumer_box">
                    <a href="../controller/route.php?sign=0">
                        <img src="../public/imgs/consumer.jpg" alt="소비자">
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="job_box">
                    <a href="../controller/route.php?sign=1">
                        <img src="../public/imgs/job.jpg" alt="구직자">
                    </a>
                    
                </div>
                <div class="company_box">
                    <a href="../controller/route.php?sign=2">
                         <img src="../public/imgs/company.jpg" alt="전문업체"> 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="text">
            <h4>상호:houzz | 사업자 등록번호 000-00-00000</h4>
            <h4>연락처:010-0000-0000 | 팩스: 000-0000-0000 | email: qodmsquf13@naver.com</h4>
            <h4>주소: 제주시 산천단동 3길 2</h4>
        </div>
    </footer>
</body>
</html>