*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
/* 모달 */
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #00000096;
}
/* 상세 리뷰 모달 */
#review_detail_pop{
    visibility: hidden;
}
.review_pop_box{
    position: relative;
    top: 30%; 
    left: 5%;   
    width: 50%;
    height: 45%;
    background-color: #f0f2f8;
    border-radius: 20px;
}
.close{
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}
.review_contents_box{
    position: relative;
    width: 100%;
    height: 85%;
    top: 15%;
    left: 0;

    display: flex;

    
}
.review_photo_box{
    width: 45%;
    height: 90%;
    background-color: rgb(201, 201, 201);
    float: left;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    
}
.review_b4_after{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.review_b4_after li{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    
}
.review_b4_after img{
    width: 100%;
    height: 100%;

}
.review_user_text{
    width: 45%;
    height: 90%;
    float: right;
    position: relative;
}
.review_user_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;

}
.user_profile{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #000;
    top: 0;
    left: 5%;
}
.review_text{
    position: relative;
    top: 20%;
    padding: 20px;
}
.review_ect{
    position: absolute;
    width: 90%;
    height: 20%;
    bottom: 0%;
    left: 4%;

    line-height: 60px;
}
.review_date{
    float: left;
}
.pop_review_grade{
    float: right;
    color: rgb(247, 211, 52);
}

/* 상세 리뷰 모달 끝 */

/* 업체 정보 뷰 팝업 */
#company_info_pop{
    /* visibility: hidden; */
}
.company_pop_close{
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}
.company_info_pop_box{
    position: relative;
    top: 30%; 
    left: 5%;   
    width: 60%;
    height: 45%;
    background-color: #f0f2f8;
    border-radius: 20px;
}

.company_info_contents_box{
    position: relative;
    width: 100%;
    height: 85%;
    top: 15%;
    left: 0;
    display: flex;
    

}
.company_info_wrap{
    width: 60%;
    height: 90%;
    background-color: #aaa;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 10px 10px 5px rgb(173, 173, 173);
}
.c_company_img{
    float: left;
    width: 50%;
    height: 100%;
    background-color: #e2ce5e;
    overflow: hidden;
}
.c_company_img>img{
    width: 100%;
    height: 100%;
}
.c_company_info{
    float: right;
    width: 50%;
    height: 100%;
    background-color: burlywood;
    position: relative;
}
.c_company_info_title{
    width: 100%;
    height: 20%;
    display: flex;
    position: absolute;
    line-height: 60px;
}
.c_company_info_text{
    width: 100%;
    height: 80%;
    background-color: #ebeaea;
    position: absolute;
    top: 20%;
}
.c_info_review_all{
    width: 30%;
    height: 90%;
    background-color: cadetblue;
    position: relative;
    border-radius: 20px;
}

/* 업체 정보 뷰 팝업 끝 */

/* 모달 끝*/
.wrap{
    float: left;
    width: 100%;
    height: 100vh;
    position: relative;
}
header{

    width: 20%;
    height: 100vh;
    background-color: #344151;
    position: absolute;
    left: 0;
    top: 0;
}

.logo_box{

    display: flex;
    width: 100%;
    height: 10%;
    position: relative;

}
.logo{
    padding-top: 10px;
    padding-left: 70px;
    float: left;
    width: auto;
    height: 100%;

}
.logo img{
    width: 80%;
    height: 80%;
   
}
.ham{
    margin-top: 12px;
    margin-right: 10px;
    float: right;
    width: 20%;
    height: 100%;
    /* background-color: khaki; */
}

.ham img{
    width: 90%;
    height: 70%;
}

.nav{
    position: relative;
    width: 100%;
    height: 100%;
}
.menu{
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu>li{
    color: #ddd;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    font-size: 20px;
}
#menu_icon:checked + label +nav{
    left: 0;
}
.active{
    background-color: #f0f4f7;
}
.active>a{
    color: #344151;
    font-weight: bolder;
}
.contents{
    float: right;
    width: 80%;
    height: 100vh;
    background-color: #f0f4f7;
}
.c_header{
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 1px 1px #ddd;
}
.searchBox{
    position: absolute;
    top: 20%;
    left: 10%;
    float: left;
    width: 50%;
    height: 50%;
    outline: 0;

}
.search{
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    background-color: #eef3f7;
    
}
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 5%;
    top: 10%;
    width: 20%;
}
.icons_icon img{

    width: 40px;
    height: 40px;
}
.user_icon{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    position: relative;
}
.user_img{
    position: absolute;
}
.c_box{
    position: relative;
    width: 100%;
    height: 100%;

}
.company_review{
    position: absolute;
    width: 95%;
    height: 40%;
    /* background-color: khaki; */
    overflow: hidden;
    border-radius: 30px;
    top: 2%;
    left: 3%;
    box-shadow: 3px 3px 3px 3px rgba(221, 221, 221, 0.651);
}
.bill{
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* 슬라이드 */
.main{
    padding: 50px 0;
}
/* img{
    width: 100%;
    height: 500px;
    object-fit: cover;
} */
.con{
    width: 34%;
    float: left;
    padding: 30px 70px;
}

.con h1{
    font-size: 40px;
    border-bottom: 3px solid #344151;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.glide__arrows{
    bottom: -30px;
}
.glide__arrows .glide__arrow{
    background-color: #fff;
    z-index: 99;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: rgb(77, 77, 77);
    font-size: 22px;
}
.glide__arrows .glide__arrow .glide__arrow--left{
    left: -10%;
}
.glide__arrow--left{
    margin-left: -30px;
}
.glide__arrow--left:hover{
    background-color: #e6e471;
    color: #fff;
    transition: .5s;
}
.glide__arrow--right{
    margin-right: -30px;
}
.glide__arrow--right:hover{
    background-color: #e6e471;
    color: #fff;
    transition: .5s;
}
.glide__slide{
    filter: brightness(50%);
    transform: scale(.7);
    transition: all ease 0.5s;
    max-height: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.glide__slide.glide__slide--active{
    transform: scale(.9);
    filter: brightness(100%);
    overflow: hidden;
    
}
.glide__slide--active:hover .after{
    transition: 300ms ease-in-out;
    opacity: 1;
}
.glide__slide:hover .bill_box{
    transition: 300ms ease-in-out;
    transform: translateY(100%);
}

.fa-angle-right{
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 40%;
}
.fa-angle-left{
    font-size: 25px;
    position: absolute;
    top: 20%;
    right: 40%;
    margin-left: -30px;
}
.after{
    position: absolute;
    background-color: rgba(66, 66, 66, 0.425);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 111;
    opacity: 0;
}
.company_view_btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    z-index: 999;
    border-style: none;
    color: #fff;
    font-weight: 400;
    background-color: #222222;
    box-shadow: 5px 5px 10px #333333,
                -5px -5px 10px rgba(85, 85, 85, 0.623);
}

.company_view_btn:hover{
    transition: .5s;
    background-color: #e2ce5e;
}
/* 슬라이드 끝*/

.company_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_box img{
    transform: scale(1.2);
}

.company_name{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 30px;
    color: rgb(141, 139, 139);
    
}
.bill_box{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    margin-top: 45px;
    width: 100%;
    height: 200px;
    z-index: 2;

}
.bill_text{
    margin: 5px 15px;
    width: 40%;
    height: 70%;
    color: rgb(134, 134, 134);
    float: right;
}
.bill_text>p{
    padding: 3px 25px;
}
.review_grade{
    margin: 5px 5px;
    float: right;
    width: 50%;
    height: 100%;
    
}
.review_grade>h1{
   float: right;
   margin-right: 20px;

}
.review_img{
    width: 100%;
    height: 70%;
    box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 0.555);
}
.user_order_box{
    position: absolute;
    width: 95%;
    height: 40%;
    /* background-color: khaki; */
    border-radius: 30px;
    top: 2%;
    left: 3%;
    box-shadow: 3px 3px 3px 3px rgba(221, 221, 221, 0.651);
}
.user_order{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    
    width: 100%;
    height: 100%;
    position: relative;
    left: 2%;
}
.order_list{
    position: absolute;
    top: 5%;
    left: -8%;
    border-radius: 30px;
    width: 90%;
    height: 90%;
    background-color:#fff;
    border: 1px solid #ddd;
    z-index: 999;
    position: relative;
}
.line_1{
    position: absolute;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}
.face_img{
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}
.user_id{
    float: right;
    margin-top: 20px;
    color: rgb(75, 75, 75);
}
 .option{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    
}

.option_left{

    position: absolute;
    top: 10%;
    left: 10%;
}
.option_left>h4{
    margin-top: 12px;
    color: rgb(75, 75, 75);
}
.option_right{
 
    position: absolute;
    top: 10%;
    right: -80%;
    text-align: right;
}
.option_right>h4{
    margin-top: 12px;
    color: rgb(75, 75, 75);
}
.order_btn{
    position: absolute;
    bottom: -220%;
    left: 25%;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(243, 247, 247);
    font-weight: bolder;
}
.bill{

    width: 100%;
    height: 100%;
}
.bill_list{
    border-radius: 20px;
    border: 1px solid #aaa;
    position: relative;
}

.review_list_box{
    width: 280px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: 3%;

}
.review_list_box img{
    width: 300px;
    height: 300px;
}
.review_company_title{
    position: relative;
    top: 38%;
    left: 12%;
}

.user_review_img{
    position: absolute;
    top: 55%;
    left: 3%;
    width: 70px;
    height: 70px;
    background-color: black;
}
.user_review_text{
    position: relative;
}
.user_review_text>h4{

    position: absolute;
    top: 180%;
    left: 11%;
}
.review_option{
    display: flex;
    width: 120px;
    position: absolute;
    top: 210%;
    left: 10.5%;
}
.review_user_text{
    position: relative;
}

/* 업체 정보 리스트 */
.company_info{
    position: absolute;
    top: 45%;
    width: 95%;
    height: 50%;
    border-radius: 30px;
    left: 3%;
    
    /* box-shadow: 3px 3px 3px 3px rgba(221, 221, 221, 0.651); */
}
.company_info>li{
    width: 100%;
    height: 20%;
    border-radius: 20px;
    background-color:#fff;
    box-shadow: 3px 3px 3px 3px rgba(175, 173, 173, 0.651);
}
.sort{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    right: 5%;
    color: rgb(78, 78, 78);
    font-weight: bolder;
}
.job_sort{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    right: 5%;
    color: rgb(78, 78, 78);
    font-weight: bolder;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.title>h2{
    position: relative;
    left: -30%;
    bottom: 20%;
}

.list_box{
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 20% 30% 20% 0% 1fr;

}
.view{
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 12%;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    font: 40px;
    border-radius: 80px;
    border-style: none;
    color: rgb(14, 13, 13);
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #ebeaea,
                -5px -5px 10px #ebeaeb;
                
}
.view:hover{
    box-shadow: 0 0 40px 40px #ececec inset;
    

}
.list_img_box{
    width: 80px;
    height: 70px;
    border-radius: 15px;
    background-color: #344151;
    margin-top: 10px;   
}
.list_text_box>h3 {
    margin-top: 30px;
}
.list_box>p {
    margin-top: 10px;
}

.list_text>p{
    font-size: 25px;
    margin-top: 24px;
}
.voting_icon{
    margin-right: 20px;
    margin-top: 30px;
}
.voting_icon img{
    width: 30px;
    height: 30px;
}
.grade>h1{
    margin-top: 20px;
    font-size: 40px;

}