footer{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(63, 63, 63);
    bottom: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 990;
    position: relative;
}
footer .text{
    margin-top: 20px;
    width: 1000px;
    color: rgb(155, 155, 155);
    font-size: 8pt;

}