
html, body {

    margin: 0;
    height: 100%;


}

/* 바디시작 콘텐츠 시작* widht 1700 */
.content{
    display: flex;
    justify-content: center;
}
.user_box,.company_box,.job_box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 640px;
    position: relative;
    padding-top: 100px;
}
.left{
    width:50%;
    position: relative;
}

.user_box .left .slide{
    /* 폰 사진 이미지 슬라이드 */
margin-left: 0px; 
width: 340px;
height: 640px;
border-radius: 40px;
background-color: lawngreen;
display: flex;
justify-content: left;
overflow: hidden;
box-shadow: 10px, 10px,10px,10px;
}
.slide>li{
    animation: leftSlide 10s ease infinite;
    transition: 1.5s;
}
@keyframes leftSlide{

    0%,30%{
        transform: translateX(0);
    }
    45%,60%{
        transform: translateX(-100%);
    }
    70%,100%{
        transform: translateX(-200%);
    }
}
.right{
    width: 50%;
    position: relative;
}
.user_box h1,.company_box h1,.job_box h1{
    margin-top: 30px;
    font-size: 40pt;
}
.user_box h2{
    margin-top: 70px;
    font-size:14pt;
    font-weight: lighter;
}
.user_box .right .slide{
    margin-top: 60px;
    width: 600px;
    height: 300px;
}
.user_box .slide .main{
    width: 600px;
    height: 180px;
}
.user_box .slide .main li{
    margin-top: 10px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: inherit;
}
.user_box .slide .sub{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.user_box .slide .sub li{
    position: relative;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index:2;
    color: rgb(177, 177, 177);
    transition: all 0.8s;
}
.btn{
    position: absolute;
    width:95px;
    height: 50px;
    background-color: #197170;
    z-index:1;
    top: 5px;
    border-radius: 20px;
    transition: ALL 1.0S;
    margin-left: 13px;
}

.company_box{
    margin-top: 200px;
}
.company_box h2{
    font-size: 14pt;
    font-weight: lighter;
    margin-top: 70px;
}
.job_box{
    margin-top: 200px;
    height: 1000px;
}
.job_box h2{
    font-size: 14pt;
    font-weight: lighter;
    margin-top: 30px;
}

.job_box .left img{
    opacity: 0;
    top: 0px;
    position: absolute;
    transition: all 2s;
}
.categore{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px;
    justify-content:left;
    position: relative;
    margin-left: 100px;
}
.under_var{
    width: 50px;
    height: 4px;
    background-color: coral;
    position: absolute;
    bottom: -10px;
    left: 24px;
    transition: all 0.6s;
    /* border-radius: 20%px; */
}
.categore li{
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}
.company_box .tab{
    margin-top: 60px;
    margin-left: 50px;
    width: 500px;
    overflow: hidden;

}
.company_box .tab li{
    position: absolute;
    /* left: 600px; */
    width: all;
    height: all;
    transition: all 1s;
    opacity: 0;
}

.nextpage{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.user_box .nextpage{
    left: 0px;
    bottom: -200px;
}
.company_box .nextpage{
    left: 0px;
    bottom: -200px;
}
.job_box .nextpage{
    left: -50px;
    bottom: -10px;
}
.nextpage img{
    width: 90px;
    height: auto;
    transform: rotate(90deg);
}

/* 팝업 모달 라인 */
.background{
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(250, 244, 244, 0.76);
    z-index: 99;
}

.join_modal_container{
    z-index: 999;
    position: relative;
    top: 5%;
    width: 100%;
    height: 100%;

}
#join_modal{
    display: none;
}
.join_modal_box{
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: bisque;
    top: 5%;
    left: 10%;
}

.j_modal_left{
    float: left;
    width: 50%;
    height: 100%;
}
.j_user_join_form{
    display: none;
    position: absolute;
    right: 50%;
    z-index: 9999;
    width: 50%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    border-left: 5px solid #f09b7e;
    transition: 2s;
}
.u_from_box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.x{
    position: absolute;
    right: 0;
    color: rgb(56, 56, 56);
    padding: 30px;
    cursor: pointer;
}
.u_form_logo{
    width: 100%;
    height: 20%;

}
.u_form_logo img{
    position: absolute;
    width: 30%;
    top: 5%;
    left: 35%;
}
.u_main_form_box{
    width: 100%;
    height: 80%;
    position: relative;
}
.u_form_line{

    width: 70%;
    left: 15%;
    height: 10%;
    margin-top: 20px;
    position: relative;
 
}
.u_in_list{
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
input[class="input"]{
    left: 0;
    position: absolute;
    width: 98%;
    height: 80%;
    text-align: center;
    border-radius: 5px;
}
input[id="u_mail"]{
    left: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 5px;
}
.search_btn{
    width: 20%;
    height: 87%;
    position: absolute;
    right: 1%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-weight: bold;
}
.user_mail{
    background-color: #FF6059;
}
.job_mail{
    background-color: #97c099;
}
#join_btn{
    position: relative;
    left: 25%;
    width: 50%;
    height: 100%;
    background-color: #FF6059;
    color: #fff;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 20px;
}
.join_user_box{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;

}

.join_user_box img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    
}
.user_join_btn{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 250px;
    height: 250px;
    z-index: 9;
    border-radius: 175px;
    background-color: #f09b7e;
}

.j_pop_title{
    position: absolute;
    top: 30%;
    font-size: 45px;
    right: 15%;
    color: seashell;
}
.j_pop_arrow{
    cursor: pointer;
    color: seashell;
    position: absolute;
    bottom: 20%;
    left: 40%;
    font-size: 50px;
}
.user_join_btn:hover{
    transition: 1s;
    transform: scale(1.2);

}
.user_join_btn:hover .j_pop_arrow{
    transition: 1s;
    transform: scale(1.5);
}
.j_modal_right{
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: saddlebrown;
}

.join_job_box{
    width: 100%;
    height: 50%;
    position: relative;
}
.j_job_img img{
    width: 100%;
    height: 100%;
}
.join_job_box{
    width: 100%;
    height: 50%;
    position: relative;
}
.j_job_img img{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 구인 조인 팝 */
.job_join_btn{
    position: absolute;
    top: 5%;
    left: 40%;
    width: 200px;
    height: 200px;
    z-index: 9;
    border-radius: 175px;
}

.job_pop_title{
    position: absolute;
    top: 30%;
    font-size: 45px;
    right: 17%;
    color: rgb(247, 246, 244);
}
.job_pop_arrow{
    cursor: pointer;
    color: rgb(250, 248, 248);
    position: absolute;
    bottom: 15%;
    left: 40%;
    font-size: 50px;
}
.job_join_btn:hover{
    transition: 1s;
    transform: scale(1.2);

}
.job_join_btn:hover .job_pop_arrow{
    transition: 1s;
    transform: scale(1.5);
}
/* 구직자 회원가입 */
.job_join_form{
    
    display: none;
    position: absolute;
    right: 0%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    border-left: 5px solid #97c099;
    transition: 2s;
}
.job_form_box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.j_x{
    position: absolute;
    right: 0;
    color: rgb(56, 56, 56);
    padding: 30px;
    cursor: pointer;
}
.job_category{
    float: left;
    width: 48%;
    height: 80%;
}
.career{
    float: right;
    width: 45%;
    height: 80%;
}


.join_btn{
    position: relative;
    left: 25%;
    width: 50%;
    height: 100%;
    color: #fff;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 20px;
}
.btn_user{
    background-color: #FF6059;
}
.btn_job{
    background-color: #97c099;
}
/* 구직자 회원가입 끝 */

.join_com_box{
    width: 100%;
    height: 50%;
    position: relative;

}
.j_com_img img{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* 업체 조인 팝 */
.c_join_btn{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 200px;
    height: 200px;
    z-index: 9;
    border-radius: 175px;
    background-color: #8ecde7;
}

.c_pop_title{
    position: absolute;
    top: 30%;
    font-size: 45px;
    left: 15%;
    color: #fff;
    
}
.c_pop_arrow{
    cursor: pointer;
    color: rgb(250, 248, 248);
    position: absolute;
    bottom: 15%;
    left: 35%;
    font-size: 50px;
}
.c_join_btn:hover{
    transition: 1s;
    transform: scale(1.2);

}
.c_join_btn:hover .c_pop_arrow{
    transition: 1s;
    transform: scale(1.5);
}

.com_join_form{
    
    display: none;
    position: absolute;
    right: 0%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    border-left: 5px solid #cbccd3;
    transition: 2s;
}
.com_form_box{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.btn_com{
    background-color: #7295ca;
}

.com_mail{
    background-color: #7295ca;
}
.c_in_list{
    width: 100%;
    height: 45px;
    margin-top: 20px;
}
.c_x{
    position: absolute;
    right: 0;
    color: rgb(56, 56, 56);
    padding: 30px;
    cursor: pointer;
}
/* 엽체 끝 */

/* 로그인 모달 */

#login_modal{
    display: none;
}
.login_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 228, 0.274);
}
.login_modal_container{
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    background-color: #fff; 
    /* border-radius: 30px; */
    overflow: hidden;
}
.login_left{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
}
.login_img_box{
    position: relative;
    width: 90%;
    height: 100%;
    /* margin-top: 17.5%;
    left: 10%; */
}
.login_img_box img{
    
    width: 100%;
    height: 100%;
}
.login_right{
    right: 0;
    top: 0;
    position: absolute;
    width: 60%;
    height: 100%;
}
.login_form_box{
    top: 15%;
    left: 15%;
    width: 50%;
    height: 70%;
    position: relative;
    
}
.login_logo{
    width: 100%;
    height: 30%;
    top: 0%;
    text-align: center;
    position: absolute;
    
}
.login_logo img{
    width: 80%;
    height: 100%;
}
.log_main{
    position: relative;
    top: 30%;
    width: 100%;
    height: 80%;
}
.log_line{
    width: 100%;
    height: 5%;
    position: relative;
    top: 12%;
}
.log_line>h4{

    position: absolute;
    left: 15%;
}
.log_line>h5{

    position: absolute;
    right: 15%;
}
.log_input{
    position: relative;
    top: 10%;
    width: 100%;
    height: 40%;

}
.log{
    position: relative;
    margin-top: 5%;
    left: 10%;
    width: 80%;
    height: 30%;
    border-radius: 50px;
    text-align: center;
    
}
.log_foget{
    position: relative;
    width: 100%;
    height: 5%;
    top: 10%;

}
.log_foget>h5{
    position: absolute;
    right: 15%;
}
.log_btn{
    width: 100%;
    height: 25%;
    top: 15%;
    position: relative;

}
.log_btn>button{
    cursor: pointer;
    background-color: #484541;
    color: #ddd;
    font-weight: bolder;
}
.log_btn>button:hover{
    background-color: rgb(90, 90, 90);
}

/* 로그인 모달 끝*/
@media (max-width:375px){   
    .content{
        justify-content:inherit
    }
    .user_box, .company_box, .job_box{
        margin: 30px auto;
        width:100vh;
        height:1280px;
        display:grid;
        grid-template-rows:1fr;
    }
  
}