*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.claer{
    clear: both;
    float: inherit;
    position: inherit;
}
.wrap{
    width: 1200px;
    position: relative;
}
a{
    color: inherit;
    text-decoration-line: none;
}
.text{
    color: rgb(63, 63, 63);
}
header{
    position:relative;
    width: all;
    height: 65px;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.logo_box{
    margin-top: 3px;
    width: 180px;
    height: inherit;
    overflow: hidden;
}
.logo_box img{
    width: auto;
    height: 55px;

}
.login_box{
    position: absolute;
    right: 30px;
    width:100px;
    height:inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.login_box img{
    margin-top: 17px;
    width: auto;
    height: 30px;
}

/* 바디시작 콘텐츠 시작* widht 1700 */
.content{
    display: flex;
    justify-content: center;
}
.user_box,.company_box,.job_box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 640px;
    position: relative;
}
.left{
    width:50%;
    position: relative;
}
.job{
    width: 100%;
    position: relative;
}
.user_box .left .slide{
margin-left: 150px;
width: 340px;
height: 640px;
border-radius: 40px;
background-color: lawngreen;
display: flex;
justify-content: left;
overflow: hidden;
position: absolute;
left: -120px;
border: 1px solid #ddd;
}

.right{
    width: 50%;
    position: relative;
}
.user_box h1,.company_box h1,.job_box h1{
    margin-top: 30px;
    font-size: 40pt;
}
.user_box h2{
    margin-top: 70px;
    font-size:14pt;
    font-weight: lighter;
}
.user_box .right .slide{
    margin-top: 60px;
    width: 600px;
    height: 300px;
}

.user_box .slide .main{
    width: 600px;
    height: 180px;
}
.user_box .slide .main li{
    margin-top: 10px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: inherit;
}
.user_box .slide .sub{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.user_box .slide .sub li{
    position: relative;
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index:2;
    color: rgb(177, 177, 177);
    transition: all 0.8s;

}
.slide>li{
    animation: leftSlide 10s ease infinite;
    transition: 2s;
}
@keyframes leftSlide{

    0%,30%{
        transform: translateX(0);
    }
    45%,60%{
        transform: translateX(-100%);
    }
    70%,100%{
        transform: translateX(-200%);
    }
}
.btn{
    position: absolute;
    width:95px;
    height: 50px;
    background-color: #197170;
    z-index:1;
    top: 5px;
    border-radius: 20px;
    transition: ALL 1.0S;
    margin-left: 13px;
}

.company_box{
    margin-top: 200px;
}
.job_box{
    height: 700px;
}

.job_box .job img{
    opacity: 0;
    top: 700px;
    position: absolute;
    transition: all 2s;
    width: 1200px;
}
.category{
    margin-top: 50px;
    display: flex;
    width: all;
    height: 50px;
    overflow: hidden;
    justify-content:center;
}
.category li{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.company_box .tab{
    margin-top: 60px;
    margin-left: 50px;
    width: 500px;


}
.company_box .tab li{
    position: absolute;
    width: all;
    height: all;
    /*transition: all 1s;
    opacity: 0;*/
    visibility: hidden;
    transition: all 500ms ease-in-out;
}
.tab li img{
    width: 700px;
    position: absolute;
    top: 0;
    left: -100px;
}
/* 탭메뉴 엑티브 */
.category li:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #222;
    z-index: -1;
}
.category>li:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: rgb(230, 215, 10);
    top: 17%;
    margin-left: 9%;
    transform: translateX(-50%);
}
.category>li.active{
    color: #f5f5f5;
}
.category>li.active:before{
    top: 0px;
    width: 100px;
    transition: all 300ms ease-in-out;
}
.category>li.active:after{
    top: 100%;
    transition: all 200ms ease-in-out 300ms;
}
footer{
    margin-top: 500px;
    width: all;
    height: 240px;
    background-color: rgb(63, 63, 63);
    bottom: 0px;
}


.tabcontent{

    visibility: hidden;
}
.active{
    display: block;
}

